<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Calculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Calculator.Calculator" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <Calculator.Properties.Settings>
            <setting name="DateFrom" serializeAs="String">
                <value>2017-05-01</value>
            </setting>
            <setting name="DateTo" serializeAs="String">
                <value>2017-08-20</value>
            </setting>
            <setting name="ResultsFileName" serializeAs="String">
                <value>results.txt</value>
            </setting>
            <setting name="ParamsCountFrom" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ParamsCountTo" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="GenerationSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TimePeriod" serializeAs="String">
                <value>Hour</value>
            </setting>
            <setting name="ThreadsCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="InsName" serializeAs="String">
                <value>SPFB.SI</value>
            </setting>
            <setting name="MarketCode" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="InsCode" serializeAs="String">
                <value>19899</value>
            </setting>
            <setting name="PopulationsCount" serializeAs="String">
                <value>30</value>
            </setting>
        </Calculator.Properties.Settings>
    </applicationSettings>
</configuration>